.clear{clear: both;}

.marB_20{
    margin-bottom: 20px;
}
.marL_10{
    margin-left: 10px;
}
.min_H_400{
    min-height: 400px;
}

.right-text{
    text-align: right;
}

.centr-text{
    text-align: center;
}

.row-top{
    margin-top: 10px;
    margin-bottom: 10px;
    background-image: linear-gradient(#ce2c00, #d14200 60%, #d05300);
}

footer .container{
    border-radius: 0px 0px 3px 3px;
    margin-bottom: 20px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

/*body{*/
    /*!*background-color: #2FA4E7;*!*/
    /*!*background-color: #044F97;*!*/
    /*background-color: #2b669a;*/
    /*margin-top: 15px;*/
/*}*/

.container{
    background-color: #ffffff;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.navbar-default{
    background-image: linear-gradient(#50b66e, #50b520 60%, #45ab15);
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #FFF;
    background-color: #17468d;
}

.div-centr {
    /*width: 100px;*/
    /*height: 100px;*/
    /*background-color: red;*/

    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
}

html, body {
    margin: 0;
    height: 100%;
}