
.col-md-12 {
	width: 100%;
}
.col-md-11 {
	width: 91.66666666666666%;
}
.col-md-10 {
	width: 83.33333333333334%;
}
.col-md-9 {
	width: 75%;
}
.col-md-8 {
	width: 66.66666666666666%;
}
.col-md-7 {
	width: 58.333333333333336%;
}
.col-md-6 {
	width: 50%;
}
.col-md-5 {
	width: 41.66666666666667%;
}
.col-md-4 {
	width: 33.33333333333333%;
}
.col-md-3 {
	width: 25%;
}
.col-md-2 {
	width: 16.666666666666664%;
}
.col-md-1 {
	width: 8.333333333333332%;
}
.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11 {
	float: left;
}

.search-nav-box .navbar-nav.navbar-right {
	float: right;
	margin-top: 0;
	margin-bottom: 0;
}
.search-nav-box .navbar-nav.navbar-right > li,
.search-box {
	float: left;
}
.search-nav-box .navbar-nav li ul {
	left: auto;
	right: 0;
}
.kopa-home-slider-1 .item .entry-item .entry-thumb .mask,
.kopa-gallery-masonry-widget .kopa-gallery-list-wrapper .kopa-gallery-list .gallery-item .entry-item .entry-thumb .mask a {
	background: url(../images/background/opacity-bg-1.png) repeat 0 0;
}
.kopa-home-slider-1 .item .entry-item .bg-bottom,
.kopa-home-2 .kopa-page-header .kopa-header-bottom #main-nav:before,
.kopa-gallery-masonry-widget .kopa-gallery-list-wrapper .kopa-gallery-list .gallery-item .entry-item .entry-thumb .mask:hover a {
	background: url(../images/background/opacity-bg-2.png) repeat 0 0;
}
.kopa-article-list-6-widget .kopa-carousel-2 .item .entry-item .entry-thumb .mask,
.kopa-home-slider-2 .item .entry-item .entry-thumb .mask {
	background: url(../images/background/opacity-bg-3.png) repeat 0 0;
}
.entry-icon {
	background: url(../images/background/opacity-bg-4.png) repeat 0 0;
}
.entry-icon span,
.kopa-home-2 .kopa-page-header .kopa-header-bottom #main-nav, 
.kopa-home-2 .kopa-page-header .kopa-header-bottom .left-color,
.kopa-carousel-list-1-widget .kopa-carousel-1 .owl-controls .owl-buttons div,
.kopa-list-post-1-widget > ul > li .kopa-carousel-3 .owl-controls .owl-buttons div,
.kopa-carousel-4 .owl-controls .owl-buttons div {
	background: url(../images/background/opacity-bg-5.png) repeat 0 0;
}
.portfolio-box .kopa-carousel-5 .owl-controls .owl-pagination .owl-page span:before,
.portfolio-box .kopa-carousel-5 .owl-controls .owl-pagination .owl-page span:after,
.kopa-home-slider-1 .owl-controls .owl-pagination .owl-page span:before,
.kopa-home-slider-1 .owl-controls .owl-pagination .owl-page span:after {
	display: none;
}