.kopa-menu-widget ul li a {
	padding: 0 5px;
	font-size: 12px;
}
.kopa-blog-3 .kopa-masonry-list-widget > ul > li,
.kopa-blog-4 .kopa-masonry-list-widget > ul > li,
.kopa-blog-6 .kopa-masonry-list-widget > ul > li {
	width: 49.8%;
}